body {
    background-color: darkblue;
    color: white;
}

.navbar {
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 1.4vw;
}

.navbar:hover {
    background-color: gray;
    color: black;
    border: 0px;
    font-size: 1.4vw;;
}